@import "setting";
/*--------------------------------------------------------------
    hsma-hook-point
--------------------------------------------------------------*/
.c-hsma-hook-point {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 12px;

  background-color: darken( $button-color, 3% );
  background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, $button-color ), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, $button-color ),color-stop(.75, $button-color ), color-stop(.75, transparent),to(transparent));
  -webkit-background-size: 14px 14px;
  animation: blink 1s ease-in-out infinite alternate;
  @include media-breakpoint-up(md) {
    font-size: 16px;
  }
  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
}

/*--------------------------------------------------------------
    animation
--------------------------------------------------------------*/
@keyframes blink{
  0% { opacity: .75; }
  100% { opacity: 1; }
}

/*--------------------------------------------------------------
    Project
--------------------------------------------------------------*/
//.p-hsm-drawer {
//  margin: 15px;
//  padding: 10px;
//}

.p-hsm-prepend-footer,
.p-hsm-append-footer {
  border-radius: 0;
}

.p-snow_monkey_prepend_drawer_nav {
  margin: 15px;
  padding: 10px;
}

.p-snow_monkey_append_drawer_nav {
  margin: 15px;
  padding: 10px;
}

.p-snow_monkey_prepend_body {
  border-radius: 0;
}

.p-snow_monkey_prepend_footer {
  border-radius: 0;
}

.p-snow_monkey_append_footer {
  border-radius: 0;
}

.p-snow_monkey_prepend_sidebar {

}

.p-snow_monkey_append_sidebar {

}

.p-snow_monkey_prepend_main {
  margin-bottom: 15px;
}

.p-snow_monkey_append_main {
  margin-top: 50px;
}

.p-snow_monkey_prepend_contents {
  border-radius: 0;
  margin-bottom: 15px;
}

.p-snow_monkey_append_contents {
  border-radius: 0;
  margin-bottom: 30px;
}

.p-snow_monkey_before_contents_inner {
  margin-bottom: 15px;
  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }
}

.p-snow_monkey_after_contents_inner {
  margin-bottom: 30px;
}

.p-snow_monkey_prepend_entry_content {

}

.p-snow_monkey_append_entry_content {

}

.p-snow_monkey_before_entry_content {

}

.p-snow_monkey_after_entry_content {

}

.p-snow_monkey_append_archive_entry_content {

}

.p-snow_monkey_prepend_archive_entry_content {

}

.p-snow_monkey_entry_meta_items {
  display: inline-block;
  //background-color: $brand-color-1;
  color: white!important;
  padding: 5px 10px;
  border-radius: 5px;
}

.p-snow_monkey_after_header_site_branding_column {

}
