//======================================================================
// Mixin
//======================================================================
// Add .editor-styles-wrapper css class
//-----------------------------------------------------
@mixin add-editor-styles-wrapper( $className ) {
  .editor-styles-wrapper .is-style-#{$className},
  .is-style-#{$className} {
    @content;
  }
}

//======================================================================
// Variables
//======================================================================
$accent-color: var( --accent-color,#cd162c );

//======================================================================
// Snow Monkey Breakpoint Setting
//======================================================================
// Minimal width
//-----------------------------------------------------
$breakpoint-up: (
        'md' : 'screen and (min-width: 640px)',
        'lg' : 'screen and (min-width: 1024px)',
        'xl' : 'screen and (min-width: 1280px)',
) !default;

// Max width
//-----------------------------------------------------
$breakpoint-down: (
        'sm' : 'screen and (max-width: 639px)',
        'md' : 'screen and (max-width: 1023px)',
        'lg' : 'screen and (max-width: 1279px)',
) !default;

// Set Mixin
//-----------------------------------------------------
@mixin media-breakpoint-up($breakpoint: sm) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin media-breakpoint-down($breakpoint: lg) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}

//======================================================================
// Reset default style setting
//======================================================================
// heading
//-----------------------------------------------------
@mixin reset-default-style__heading() {
  border-left: none;
  background-color: inherit;
}

/*--------------------------------------------------------------
   Extending Styles
--------------------------------------------------------------*/
/*--------------------------------------------------------------
    Like me box
--------------------------------------------------------------*/
/*  Right image
------------------------------*/
@include add-editor-styles-wrapper( hsma--lmb--right-image ) {
  .wp-like-me-box {
    &__figure {
      order: 1;
    }
    &__body {
      order: 0;
    }
  }
}

/*--------------------------------------------------------------
    Recent posts
--------------------------------------------------------------*/
/* Undisplayed author name
------------------------------*/
@include add-editor-styles-wrapper( hsma--rp--undisplayed-author-name ) {
  .c-meta__item--author {
    display: none;
  }
}
/* Undisplayed date
------------------------------*/
@include add-editor-styles-wrapper( hsma--rp--undisplayed-date ) {
  .c-meta__item--published {
    display: none;
  }
}
/* Undisplayed excerpt
------------------------------*/
@include add-editor-styles-wrapper( hsma--rp--undisplayed-excerpt ) {
  .c-entry-summary__content {
    display: none;
  }
}
/* Undisplayed all meta
------------------------------*/
@include add-editor-styles-wrapper( hsma--rp--undisplayed-all-meta ) {
  .c-entry-summary__content {
    display: none;
  }
  .c-entry-summary__meta {
    display: none;
  }
}

/*--------------------------------------------------------------
    Information
--------------------------------------------------------------*/
/* Simple border
------------------------------*/
@include add-editor-styles-wrapper( hsma--info--simple-border ) {
  .smb-information__item {
    border-bottom: 1px solid $accent-color;
  }
  .c-row {
    align-items: center;
    padding-bottom: .5em;
  }
}
