//======================================================================
// Mixin
//======================================================================
// Add .editor-styles-wrapper css class
//-----------------------------------------------------
@mixin add-editor-styles-wrapper( $className ) {
  .editor-styles-wrapper .is-style-#{$className},
  .is-style-#{$className} {
    @content;
  }
}

//======================================================================
// Variables
//======================================================================
$accent-color: var( --accent-color,#cd162c );
$sub-accent-color: var( --sub-accent-color, #ccc62b );

//======================================================================
// Snow Monkey Breakpoint Setting
//======================================================================
// Minimal width
//-----------------------------------------------------
$breakpoint-up: (
        'md' : 'screen and (min-width: 40em)',
        'lg' : 'screen and (min-width: 64em)',
) !default;

// Max width
//-----------------------------------------------------
$breakpoint-down: (
        'sm' : 'screen and (max-width: 639px)',
        'md' : 'screen and (max-width: 1023px)',
        'lg' : 'screen and (max-width: 1279px)',
) !default;

// Set Mixin
//-----------------------------------------------------
@mixin media-breakpoint-up($breakpoint: sm) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin media-breakpoint-down($breakpoint: lg) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}

//======================================================================
// Reset default style setting
//======================================================================
// heading
//-----------------------------------------------------
@mixin reset-default-style__heading() {
  border-left: none;
  background-color: inherit;
}

/*--------------------------------------------------------------
   Extending Styles
--------------------------------------------------------------*/
/*--------------------------------------------------------------
    Like me box
--------------------------------------------------------------*/
/*  Right image
------------------------------*/
@include add-editor-styles-wrapper( hsma--lmb--right-image ) {
  .wp-like-me-box {
    &__figure {
      order: 1;
    }
    &__body {
      order: 0;
    }
  }
}

/*--------------------------------------------------------------
    Recent posts
--------------------------------------------------------------*/
/* Undisplayed author name
------------------------------*/
@include add-editor-styles-wrapper( hsma--rp--undisplayed-author-name ) {
  .c-meta__item--author {
    display: none;
  }
}
/* Undisplayed date
------------------------------*/
@include add-editor-styles-wrapper( hsma--rp--undisplayed-date ) {
  .c-meta__item--published {
    display: none;
  }
}
/* Undisplayed excerpt
------------------------------*/
@include add-editor-styles-wrapper( hsma--rp--undisplayed-excerpt ) {
  .c-entry-summary__content {
    display: none;
  }
}
/* Undisplayed all meta
------------------------------*/
@include add-editor-styles-wrapper( hsma--rp--undisplayed-all-meta ) {
  .c-entry-summary__content {
    display: none;
  }
  .c-entry-summary__meta {
    display: none;
  }
}

/*--------------------------------------------------------------
    Information
--------------------------------------------------------------*/
/* Simple border
------------------------------*/
@include add-editor-styles-wrapper( hsma--info--simple-border ) {
  .smb-information__item {

  }
  .smb-information__item__label {
    padding: 7px;
    text-align: center;
    font-weight: bold;
  }
  .smb-information__item__body {
    @include media-breakpoint-up(md) {
      padding: 7px;
    }
  }

  .c-row {
    > .c-row__col {
      &:first-child {
        border-bottom: 3px solid $accent-color;
      }
      &:last-child {
        @include media-breakpoint-up(md) {
          border-bottom: 1px solid $accent-color;
        }
      }
    }
  }
}

/*--------------------------------------------------------------
    Categories List
--------------------------------------------------------------*/
/* Accent color
------------------------------*/
@include add-editor-styles-wrapper( hsma--catlist--accent-color ) {
  .smb-categories-list__item {
    border-color: $accent-color;
  }
  .smb-categories-list__item__count {
    background-color: $accent-color;
    color: white;
    &:after {
      border-left-color: $accent-color;
    }
  }
  .smb-categories-list__item__category-name {
    color: $accent-color;
    a {
      color: $accent-color;
    }
  }

  @include media-breakpoint-up(md) {
    .smb-categories-list__list.masonry-active {
      .smb-categories-list__item:nth-child(2n-1) {
        .smb-categories-list__item__count:after {
          border-right-color: $accent-color;
        }
      }
    }
  }
}

/* Sub accent color
------------------------------*/
@include add-editor-styles-wrapper( hsma--catlist--sub-accent-color ) {
  .smb-categories-list__item {
    border-color: $sub-accent-color;
  }
  .smb-categories-list__item__count {
    background-color: $sub-accent-color;
    color: white;
    &:after {
      border-left-color: $sub-accent-color;
    }
  }
  .smb-categories-list__item__category-name,
  .smb-categories-list__item__category-name a {
    color: $sub-accent-color;
  }

  @include media-breakpoint-up(md) {
    .smb-categories-list__list.masonry-active {
      .smb-categories-list__item:nth-child(2n-1) {
        .smb-categories-list__item__count:after {
          border-right-color: $sub-accent-color;
        }
      }
    }
  }
}

/*--------------------------------------------------------------
    FAQ
--------------------------------------------------------------*/
/* Answer indent
------------------------------*/
@include add-editor-styles-wrapper( hsma--faq--answer-indent ) {
  .smb-faq__item__answer {
    padding-left: calc(var(--_space, 1.76923rem)*1*var(--_margin-scale, 1));
    border-left: 2px solid #ccc;
  }
}
